* {
  width: 100%;
  margin: 0;
  font-family: 'Zen Maru Gothic', sans-serif;
  color: #775B3C;
  box-sizing: border-box;
  padding: 0;
  /* float: left; */
}

::before,
::after {
  box-sizing: inherit;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  color: inherit;
  vertical-align: middle;
  text-align: inherit;
  font: inherit;
  -webkit-appearance: none;
  appearance: none;
}

.menu {
  width: 100%;
  height: 100vh;
  margin-left: auto;
  /* メニューを縦に */
  display: flex;
  flex-direction: column;
  color: #775B3C;
  background-color: #775B3C;
  transition: .3s;

  /* メニューの位置マイナス指定で画面外に */
  position: fixed;
  right: -100%;
  z-index: 100;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu-list a {
  color: #EEE1D1;
  width: 100%;
  height: 100%;
  /* メニューテキスト位置をリスト内中心に */
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  /* margin-top: 12vh; */
}

.btn {
  /* ボタンの配置位置  */
  position: fixed;
  top: 42px;
  right: 4%;
  /* ボタンの大きさ  */
  width: 8%;
  height: 48px;
  /* 最前面に */
  z-index: 1000;
}

.btn-line {
  display: block;
  position: relative;
  /* バーガー線の位置基準として設定 */
  width: 100%;
  /* 線の長さと高さ */
  height: 4px;
  background-color: #775B3C;
  /* バーガー線の色 */
  transition: .2s;
}

.btn-line::before,
.btn-line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #775B3C;
  transition: .5s;
}

.btn-line::before {
  /* 上の線の位置 */
  transform: translateY(-16px);
}

.btn-line::after {
  /* 下の線の位置 */
  transform: translateY(16px);
}

.menu.open {
  right: 0;
}

.btn-line.open {
  background-color: transparent;
  /* 真ん中の線を透明に */
}

.btn-line.open::before,
.btn-line.open::after {
  content: "";
  background-color: #EEE1D1;
  /* 上下の線の色を変える */
  transition: .2s;
}

.btn-line.open::before {
  transform: rotate(20deg);
  /* 上の線を傾ける */
}

.btn-line.open::after {
  transform: rotate(-20deg);
  /* 下の線を傾ける */
}




.head-over {
  height: 100vh;
}

.head-bg {
  position: absolute;
}

.head-circle1 {
  width: 40%;
  margin-left: -10%;
  margin-top: -10%;

  animation-name: rotate;
  animation-duration: 43s;
  animation-timing-function: cubic-bezier(0.5, 0.51, 0.51, 0.52);
  animation-iteration-count: infinite;
}

.head-circle2 {
  width: 30%;
  margin-left: 75%;

  animation-name: rotate;
  animation-duration: 38s;
  animation-timing-function: cubic-bezier(0.5, 0.51, 0.51, 0.52);
  animation-iteration-count: infinite;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

.head-circle4 {
  width: 20%;
  margin-left: 5%;
  margin-top: 10%;

  animation-name: rotate;
  animation-duration: 28s;
  animation-timing-function: cubic-bezier(0.5, 0.51, 0.51, 0.52);
  animation-iteration-count: infinite;
}

.head-over {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 30vh;
}

.head-center {
  width: 20%;
  text-align: center;
  margin-left: 40%;
}

.head-center img {
  width: 90%;
}

.explaination {
  margin-top: 35vh;
  width: 50%;
  margin-left: 25%;
  position: relative;
  /* background-image: url(../images/circlebg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
}

.explaination h1 {
  margin-left: 25%;
  margin-bottom: 5%;
  /* margin-top: 10%; */
  text-align: center;
  width: 50%;
  font-size: 26px;
  background: linear-gradient(transparent 75%, #EDA85B 0%);
}

.explaination p {
  text-align: center;
  font-size: 17px;
  font-weight: 700;
}

.explain-bg {
  position: absolute;
  width: 50%;
  height: auto;
  margin-top: -65vh;
  margin-left: 25%;
}

.strong-point {
  text-align: center;
  position: relative;
  margin-top: 80vh;
}

.str-p-h1 {
  margin-bottom: 2%;
  font-size: 30px;
  background: linear-gradient(transparent 75%, #EDA85B 0%);
}

.button img {
  width: 70%;
}

.strong-point-ib {
  margin-top: 5%;
  width: 50%;
  margin-left: 25%;
  display: flex;
}

.button h2 {
  font-weight: 300;
}

.price h2 {
  margin-top: 12%;
}

.nutrition {
  margin-top: 10%;
}

.nutrition h2 {
  margin-top: 35%;
}

.viability h2 {
  margin-top: 13%;
}

.open-box {
  margin-top: 10%;
  position: absolute;
  /* width: 100%; */
}

.box-ib {
  margin-left: 10%;
  display: flex;
  text-align: left;
}

.box-img {
  width: 40%;
  object-fit: contain;
  /* margin-top: 0; */
}

.box-img-price {
  margin-top: 10vh;
}

.back {
  width: 10%;
  margin-top: 4%;
}

.open-box1 h1 {
  font-weight: 300;
  text-decoration: none;
  margin-bottom: 3%;
}

.kakko {
  width: 14%;
  margin-top: 6.5%;
  position: relative;
}

.box1-p {
  margin-top: 6%;
  font-size: 18px;
  width: 45%;
  background-image: url(../images/strbg.png);
  background-size: contain;
  /* background-position-x: left;
  background-position-y: top; */
  background-repeat: no-repeat;
}

.open-box2 h1 {
  font-weight: 300;
  text-decoration: none;
  margin-bottom: 3%;
}

.kakko2 {
  width: 16%;
  margin-top: 7%;
  position: relative;
}

.box2-p {
  margin-top: 3%;
  width: 30%;
  background-image: url(../images/strbg.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.box2-p h2 {
  margin-top: 3%;
  margin-bottom: 3%;
  width: 30%;
}

.open-box3 h1 {
  font-weight: 300;
  text-decoration: none;
  margin-bottom: 3%;
}

.kakko3 {
  width: 19%;
  margin-top: 6.5%;
  position: relative;
}

.via-img {
  width: 25%;
}

.box3-p {
  margin-top: 6%;
  font-size: 18px;
  width: 45%;
  background-image: url(../images/strbg.png);
  background-size: contain;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
}

.open-box3 h1 {
  font-weight: 300;
  text-decoration: none;
  margin-bottom: 3%;
}

.reason-box {
  padding-top: 20vh;
  margin-bottom: 10%;
  height: 90vh;
}

.reason-box h1 {
  font-weight: 300;
  width: 50%;
  padding: 30px 0 30px 13%;
  /* padding上右下を指定 */
  font-size: 28px;
  background-color: #EEE1D1;
  border-radius: 7px;
  margin-bottom: 30px;
}

.reason-box h1 mark {
  font-weight: 200;
  font-size: 28px;
  background-color: #775B3C;
  color: #EEE1D1;
  border-radius: 7px;
  padding: 10px;
}

.reason-box p {
  font-weight: 300;
  font-size: 16px;
  background-color: #775B3C;
  color: #EEE1D1;
  width: 40%;
  padding: 30px 0 30px 13%;
  border-radius: 7px;
}

.eason-button {
  /* background-color: #EEE1D1; */
  /* border-radius: 1000px; */
  width: 25vh;
  height: 25vh;
  text-align: center;
  padding-top: 30%;
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  text-decoration: none;
  font-weight: 300;
  font-size: 26px;
  /* transform: rotateZ(-45deg); */
}

.left-box {
  margin-right: 10%;
}

.right-box {
  width: 40vw;
  margin-left: 45vw;
  margin-top: -15vh;
  /* transform: rotateZ(45deg); */
}

/* .modal-aimg-left {
  display: block;
}

.modal-aimg-right {
  display: block;
} */

/* .reason-button {
  display: block;
  background-position: center;
} */

.modal-a-text {
  width: 34vh;
  height: 34vh;
  position: relative;
  margin-top: 4vh;
  /* margin-left: 12vw; */
  /* transform: rotateZ(0deg); */
}

/* .looking {
  margin-left: 21.5vw;
}

.smell {
  margin-left: 34.5vw;
}

.taste {
  margin-left: 10.5vw;
}

.texture {
  margin-left: 21.5vw;
} */

.modal-a-text a {
  width: 15vh;
  height: 15vh;
  text-decoration: none;
  font-weight: 300;
  font-size: 26px;
  /* margin: 2vh 2vh 0 0; */
}

/* .modal-a-text a {
  width: 15vh;
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  font-size: 26px;
  margin: 2vh 2vh 0 0;
} */

.modal-a-img {
  position: absolute;
  transform: rotateZ(45deg);
  margin-top: -4vh;
}

.modal-a-img img {
  width: 15vw;
  height: 15vw;
  margin: 2vh 2vh 0 0;
  transform: rotateZ(0deg);
}

/* .looking {
  background-image: url(../images/circle1.png);
  transition: 0.5s;
}

.looking:hover {
  transition: 2s;
  transform: rotateZ(45deg);
}

.smell {
  background-image: url(../images/circle2.png);
  transition: 0.5s;
}

.smell:hover {
  transition: 2s;
  transform: rotateZ(45deg);
}

.taste {
  background-image: url(../images/circle3.png);
  transition: 0.5s;
}

.taste:hover {
  transition: 2s;
  transform: rotateZ(45deg);
}

.texture {
  background-image: url(../images/circle4.png);
  transition: 0.5s;
}

.texture:hover {
  transition: 2s;
  transform: rotateZ(45deg);
} */

.modal {
  display: none;
  z-index: 10000;
}

/* .modal-box {
  display: flex;
  justify-content: center;
  margin-top: 50px;
} */

.modaal-content-container {
  text-align: center;
  padding: 0;
  /* background: rgba(0, 0, 0, 0);
  border-radius: 15px; */
}

.modaal-container {
  background: none;
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before {
  background: #fabb51;
}

.modaal-h1 {
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 5vh;
  font-weight: 400;
  color: #000;
}

.modaal-img {
  width: 90%;
  height: auto;
  /* float: left; */
  margin-bottom: 3vh;
  object-fit: cover;
}

.modaal-img-div {
  width: 45%;
}

.modaal-img-texture {
  width: auto;
  height: 35vh;
  /* float: left; */
  margin-bottom: 3vh;
  margin-left: 10%;
}

.modaal-p-box {
  text-align: left;
  width: 55%;
  margin: 2vh;
  font-size: 16px;
  font-weight: 200;
}

.modaal-p-box p {
  color: #000;
}

.modaal-passage {
  display: flex;
}

.modaal-brown-bg {
  background: #EEE1D1;
  padding: 5vh 3vw 3vw 3vw;
  border-radius: 15px;
}

.white-bg {
  background: #fff;
  border-radius: 15px;
  padding: 5vh 3vw 5vh 3vw;
}

.close-button {
  display: inline-block;
  padding: 25px 0;
  margin-bottom: 2vh;
  margin-left: 40%;
  /* justify-content: center; */
}

.close-button::before,
.close-button::after {
  display: block;
  content: "";
  width: 10vw;
  height: 1px;
  background: #775B3C;
}

.close-button::before {
  transform: rotate(-16deg);
}

.close-button::after {
  transform: rotate(16deg);
}

.modaal-close-in {
  width: 100%;
}

.sheet-box {
  background-color: #EEE1D1;
  display: flex;
  padding-left: 20%;
  height: 100vh;
  margin-top: 40vh;
  /* float: left; */
}

.sheet-box img {
  margin-top: 10%;
  width: 45vh;
  height: 63vh;
  margin-right: 5%;
}

.right-box2 {
  margin-top: 10%;
}

.right-box2 h1 {
  font-weight: 200;
  font-size: 28px;
}

.right-box2 h1 mark {
  font-weight: 200;
  font-size: 28px;
  background-color: #775B3C;
  color: #EEE1D1;
  border-radius: 7px;
  padding: 10px;
  margin-right: 5px;
}

.passage2 {
  font-weight: 200;
  margin-left: 10%;
  background: linear-gradient(transparent 75%, #EDA85B 0%);
  width: 33vh;
  font-size: 28px;
  margin-bottom: 4%;
  text-align: center;
  margin-top: 10px;
}

.passage3 {
  margin-top: 6vh;
  font-weight: 200;
  /* margin-top: 500%; */
}

.right-box2 p {
  margin-top: 1%;
}

.rb-passage {
  margin-bottom: 10vh;
}

.down-button {
  margin-left: 15%;
  text-decoration: none;
  color: #fff;
  padding: 45px 33px 35px 27px;
  background-image: url(../images/button.png);

  background-repeat: repeat;
  background-position: 10% center;
  background-size: 100% 100%;
  font-weight: 300;
  transition: 0.5s;
}

.down-button:hover {
  padding: 53px 38px 43px 34px;
  transition: 1s;
  text-shadow: -5px 5px 12px #EEE1D1;
}